<!-- Shape Blur #1 -->
<div
  class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
  aria-hidden="true">
  <div
    class="relative left-[calc(2%-3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ee8470] to-[#f9dfa9] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem] animate-float"
    style="clip-path: polygon(81.63% 38.25%, 100% 100%, 95% 48.99%, 95% 32.5%, 100% 0%, 92.27% 14.79%, 73.25% 37%, 59.61% 80.45%, 52.4% 68.1%, 38% 15.91%, 53.08% 0%, 46.58% 36.09%, 32.53% 69.96%, 0% 0%, 15.5% 69.96%, 11.66% 80.45%, 0% 100%, 34.48% 86.41%, 43.02% 55.9%, 61.2% 100%, 73.7% 50.3%);">
  </div>
</div>

<!-- Shape Blur #2 -->
<div
  class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
  aria-hidden="true">
  <div
    class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#f9dfa9] to-[#ee8470] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem] animate-float"
    style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
  </div>
</div>
