---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import Asides from "../components/Shapes/Asides.astro";
---

<Layout title="Dariels Martinez | Desarrollador de Aplicaciones Web">
  <Hero
    description="Entusiasta de 22 a침os de Honduras 游쇓릖, especializado en Desarrollo de Aplicaciones Web. Experiencia en proyectos digitales y comprometido con la innovaci칩n. Busco oportunidades para crecer y colaborar en el 치mbito tecnol칩gico."
  />

  <h2 class="mb-14 mt-3 pt-32 text-5xl text-black/90 font-bold text-center">
    Proyectos
  </h2>

  <section class="max-w-4xl flex flex-col items-center gap-6 mx-auto">
    <Card
      title="KeyMaster"
      body="KeyMaster es una aplicaci칩n web dise침ada para generar contrase침as seguras y 칰nicas. Utiliza tecnolog칤as modernas para ofrecer una interfaz de usuario intuitiva y f치cil de usar."
      image="https://darielsmtz.netlify.app/img/desktop/proyecto_1.webp"
      urlDemo="https://darielsmtz.netlify.app/"
      urlCode="https://github.com/darielsmtz/darielsmtz.github.io">
      <div
        slot="tecnologias"
        class="flex flex-wrap justify-end gap-1 [&>span]:bg-blue-50 [&>span]:text-blue-700 [&>span]:ring-blue-500/20 [&>span]:"
        data-astro-cid-3bkgdtqq="">
        <span
          class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium ring-1 ring-inset">
          HTML
        </span>
        <span
          class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium ring-1 ring-inset">
          CSS
        </span>
        <span
          class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium ring-1 ring-inset">
          JavaScript
        </span>
        <span
          class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium ring-1 ring-inset">
          MySQL
        </span>
        <span
          class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium ring-1 ring-inset">
          PHP
        </span>
      </div>
    </Card>

    <Asides />
  </section>
</Layout>
