<div
  class="w-full justify-center pt-5 gap-10 hidden max-sm:flex [&>div>a>span]:hidden max-[375px]:w-2/3">
  <a href="https://github.com/DarielsMtz" target="_blank">
    <button class="Btn">
      <span class="svgContainer">
        <svg fill="white" viewBox="0 0 496 512" height="1.6em"
          ><path
            d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"
          ></path></svg
        >
      </span>
      <span class="GITHUB"></span>
    </button>
  </a>

  <a href="https://www.linkedin.com/in/dariels-martinez/" target="_blank">
    <button class="Btn">
      <span class="svgContainer">
        <svg
          viewBox="0 0 448 512"
          height="1.6em"
          xmlns="http://www.w3.org/2000/svg"
          class="svgIcon"
          fill="white">
          <path
            d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z"
          ></path>
        </svg>
      </span>
      <span class="LINKEDIN"></span>
    </button>
  </a>

  <a href="https://www.youtube.com/realvjy/" target="_blank">
    <button class="Btn">
      <span class="svgContainer">
        <svg
          version="1.0"
          xmlns="http://www.w3.org/2000/svg"
          class="w-7 transition hover:-translate-y-1"
          viewBox="0 0 512.000000 512.000000"
          preserveAspectRatio="xMidYMid meet">
          <g
            transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
            fill="#fff"
            stroke="none">
            <path
              d="M2095 5005 c-33 -7 -109 -36 -170 -65 l-110 -53 -205 -201 c-359
-352 -662 -648 -762 -745 -76 -73 -106 -110 -137 -170 -83 -160 -76 -15 -76
-1646 0 -1353 1 -1454 18 -1515 61 -225 236 -404 457 -467 62 -17 137 -18
1450 -18 1313 0 1388 1 1450 18 220 63 397 243 457 467 17 61 18 185 18 1960
0 1778 -1 1899 -18 1960 -59 221 -224 392 -447 466 -51 17 -113 19 -960 21
-722 1 -917 -1 -965 -12z m625 -1385 c184 -54 340 -222 379 -408 76 -366 -217
-700 -586 -668 -282 23 -503 262 -503 543 0 96 15 164 55 248 116 242 391 362
655 285z m-431 -1461 c80 -26 117 -32 221 -36 139 -6 221 4 357 43 l92 26 56
-26 c91 -42 194 -114 287 -204 100 -96 171 -194 231 -319 35 -74 42 -97 42
-148 -1 -97 -53 -179 -147 -230 l-53 -30 -775 0 c-773 0 -775 0 -846 22 -160
51 -226 152 -190 291 64 251 323 534 568 622 29 11 55 19 57 20 2 0 47 -14
100 -31z">
            </path>
          </g>
        </svg>
      </span>
      <span class="DISCORD"></span>
    </button>
  </a>
</div>

<style>
  .Btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
  }

  .svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
  }

  .Btn:hover .svgContainer {
    border: 1px solid rgba(206, 206, 206, 0.466);
    background-color: rgba(214, 214, 214, 0.466);
    backdrop-filter: blur(4px);
  }

  .GITHUB {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #181818;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
  }

  .Btn:hover .GITHUB,
  .Btn:hover .LINKEDIN,
  .Btn:hover .DISCORD {
    transform: rotate(35deg);
    transform-origin: bottom;
  }

  .LINKEDIN {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #0077b5;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
  }

  .DISCORD {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #7289da;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
  }
</style>
